@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap");
html{
  font-size: 10px;
}
body {
  height: 100vh;
  width: 100%;
  background-color: hsl(237, 18%, 59%);
  background-color: hsl(234, 17%, 12%);
  background-color: hsl(236, 21%, 26%);
  background-color: hsl(235, 16%, 14%);
  background-color: hsl(234, 17%, 12%);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.content {
  background: url(./images/bg-stars.svg);
  height: 80%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: hsl(0, 0%, 100%);
  font-family: "Red Hat Text", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.box {
  display: flex;
  width: 95%;
  max-width: 500px;
  margin: 0 auto;
  justify-content: space-between;
}
.content h1 {
  /* border: 1px solid; */
  font-size: 2rem;
  letter-spacing: 3px;
  word-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  padding:0em 1em ;
}
#count {
  font-size: 1.5rem;
  letter-spacing: 3px;
  padding: 0 1.1em;
  text-align: center;
}
.text {
  color: hsl(236, 21%, 26%);
  color: hsl(237, 18%, 59%);
  font-weight: 900;
}
.total {
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 60px;
  width: 20%;
  max-width: 100px;
  position: relative;
  text-align: center;
  border-radius: 7px;
  margin-top: 2em;
  box-shadow: 0 0 10px #aaa;
}

.number {
  position: absolute;
  left: 35%;
  z-index: 1;
  color: hsl(345, 95%, 68%);
  font-weight: 700;
  font-size: 2rem;
  opacity: 0.7;
}
#minutes {
  left: 20%;
}
#second {
  font-size: ;
  left: 0;
}
.first {
  max-width: 100px;
  min-height: 30px;
  background-color: hsl(236, 21%, 26%);
  display: flex;
  align-items: flex-end;
  border-radius: 7px;
}
.second {
  max-width: 100px;
  min-height: 30px;
  background-color: hsl(235, 16%, 14%);
  border-radius: 7px;
}
.footer {
  background: url(./images/pattern-hills.svg);
  height: 20%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.socials {
  margin-bottom: 2em;
  display: flex;
}
#facebook {
  padding: 2em;
  background-image: url(./images/icon-facebook.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
}
#facebook:hover {
  background-image: url(./images/icon-facebook\ copy.svg);
  transition: all ease 0.9s;
}
#instagram {
  padding: 2em;
  background-image: url(./images/icon-instagram.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
}
#instagram:hover {
  background-image: url(./images/icon-instagram\ copy.svg);
  transition: all ease 0.9s;
}
#pinterest {
  padding: 2em;
  background-image: url(./images/icon-pinterest.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
}
#pinterest:hover {
  background-image: url(./images/icon-pinterest\ copy.svg);
  transition: all ease 0.9s;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media only screen and (min-width: 300px){
  /* .box {
  display: flex;
  width: 70%;
  max-width: 650px;
  margin: 0 auto;
  justify-content: space-between;
} */
#minutes {
  left: 30%;
}
#second {
  font-size: ;
  left: 15%;
}
}
@media only screen and (min-width: 400px){
  /* .box {
  display: flex;
  width: 70%;
  max-width: 650px;
  margin: 0 auto;
  justify-content: space-between;
} */
.total{
  height: 100px;
}
.first,.second{
  min-height: 50px;
}
.number{
  top: 10%;
  font-size: 2.5rem;
}
.text{
  font-size: 1.5rem;
}
#minutes {
  left: 40%;
}
#second {
  font-size: ;
  left: 25%;
}
}
